---

- name: Setup timezone
  when: timezone is defined and timezone | length > 0
  become: true
  tags:
    - timezone_config
    - timezone
  block:

    - name: Check current timezone
      ansible.builtin.shell: timedatectl show -p Timezone --value
      register: timezone_results
      changed_when: false
      failed_when: false

    - name: Output timezone
      when: timezone_debug is defined and timezone_debug | bool
      ansible.builtin.debug:
        msg:
          - "Current TZ = {{ timezone_results.stdout }}"
          - "Target TZ = {{ timezone }}"

    - name: Set timezone
      ansible.builtin.shell: timedatectl set-timezone {{ timezone }}
      when: timezone_results != timezone
      changed_when: false

    - name: Check RTC localtime
      ansible.builtin.shell: timedatectl show -p LocalRTC --value
      register: timezone_rtctime
      changed_when: false

    - name: Normalize RTC localtime values
      ansible.builtin.set_fact:
        timezone_rtclocal_current: "{{ 1 if (timezone_rtctime.stdout | trim | lower) in ['yes','1','true'] else 0 }}"
        timezone_rtclocal_target: "{{ 1 if (timezone_localrtc | default(false) | bool) else 0 }}"

    - name: Output RTC localtime
      when: timezone_debug | default(false)
      ansible.builtin.debug:
        msg:
          - "Current TZ = {{ timezone_rtclocal_current }}"
          - "Target TZ = {{ timezone_rtclocal_target }}"

    - name: Set RTC localtime mode
      ansible.builtin.command: "timedatectl set-local-rtc {{ timezone_rtclocal_target }}"
      when:
        - timezone_localrtc is defined
        - timezone_rtclocal_current != timezone_rtclocal_target
        - not ansible_check_mode
      changed_when: true

