---

- name: Install tasks
  tags:
    - timezone_install
    - timezone
  become: true
  block:
  - name: Install timezone package
    when: ansible_facts.os_family == 'Debian'
    ansible.builtin.apt:
      name: ["{{ item }}"]
      update_cache: true
      state: "{{ timezone_package_ensure }}"
    with_items: "{{ timezone_package_name }}"
  - name: Install timezone package
    when: ansible_facts.os_family == 'RedHat'
    ansible.builtin.yum:
      name: ["{{ item }}"]
      state: "{{ timezone_package_ensure }}"
    with_items: "{{ timezone_package_name }}"
