---

- name: Setup timezone
  tags:
    - timezone_install
    - timezone_config
    - timezone
  block:
  - name: Set dependency variables
    ansible.builtin.include_vars: "{{ item }}"
    loop:
      - "{{ ansible_facts.os_family }}.yml"

  - name: Install Tasks
    ansible.builtin.import_tasks: install.yml

  - name: Config Tasks
    ansible.builtin.import_tasks: config.yml

  rescue:
    - name: Print Error
      ansible.builtin.debug:
        msg: "Unsupport platform or error occurred due to some reason."
      failed_when: true
